<section class="about__ukraine">
	<div class="about__ukraine--bg1">
		<div class="container">
			<h1 class="about__ukraine__title">
				WE ARE FROM <p class="about__ukraine__title--yellow">UKRAINE</p>
			</h1>
		</div>
	</div>
	<div class="about__ukraine--bg2">
		<article class="about__ukraine__article">
				<h2 class="about__ukraine__article__title">Ukraine is the best place for IT outsourcing</h2>
				<p class="about__ukraine__article__description">The Ukrainian software development market has been growing since its inception in the 1980s. In 2013, the market’s estimated value was US$3.6 billion, with IT outsourcing services accounting for 50 percent of that number. The IT outsourcing market demonstrated a 28 percent annual growth rate between 2008 and 2013, and experts forecast that it will reach US$10 billion by 2020.</p>
				<ul class="about__ukraine__article__list">
					<li class="about__ukraine__article__list__item">
						<p class="about__ukraine__article__list__item__digits">74 000</p>
						<p class="about__ukraine__article__list__item__description">PROFESSIONALS IN IT</p>
					</li>
					<li class="about__ukraine__article__list__item">
						<p class="about__ukraine__article__list__item__digits">180 000</p>
						<p class="about__ukraine__article__list__item__description">FORECASTED GROWTH BY 2020</p>
					</li>
					<li class="about__ukraine__article__list__item">
						<p class="about__ukraine__article__list__item__digits">27</p>
						<p class="about__ukraine__article__list__item__description">YEARS – AVERAGE AGE</p>
					</li>
					<li class="about__ukraine__article__list__item">
						<p class="about__ukraine__article__list__item__digits">7 000+</p>
						<p class="about__ukraine__article__list__item__description">GRADUATES FROM IT INDEPENDENT EDUCATIONAL INITIATIVES</p>
					</li>
					<li class="about__ukraine__article__list__item">
						<p class="about__ukraine__article__list__item__digits">15 000+</p>
						<p class="about__ukraine__article__list__item__description">GRADUATED FROM UNIVERSITIES IN IT RELATED FIELDS EACH YEAR</p>
					</li>
					<li class="about__ukraine__article__list__item">
						<p class="about__ukraine__article__list__item__digits">49%</p>
						<p class="about__ukraine__article__list__item__description">CAGR OF IT EXPORT OVER LAST 10 YEARS</p>
					</li>
				</ul>
			</article>
	<div/>
</section>