	<footer class="footer">
		<article class="footer__contacts footer__contacts--bg" id="contacts">
			<h1 class="footer__contacts__title">GET IN <p class="footer__contacts__title--yellow">TOUCH</p></h1>
			<div class="footer__contacts__adress">
				<div class="footer__contacts__adress--city">
					<h2 class="footer__contacts__adress__title">Kiev office</h2>
					<p class="footer__contacts__adress__description">
						6-Z, Lepse Avenue <br> Kiev, Ukraine, 03680 <br>Office: +38 (044) 593-7794</p>
				</div>
				<div <div class="footer__contacts__adress--city">
					<h2 class="footer__contacts__adress__title">Berlin office</h2>
					<p class="footer__contacts__adress__description">
					2, Alexanderplatz <br> Berlin, Germany, 10178O<br>
					Office: +5 (030)23457162 </p>
				</div>
			</div>
		</article>
		<article class="footer__contacts">
			<form class="footer__contacts__form" autocomplete="off">
				<input placeholder="Name" type="text" name="Name" class="footer__contacts__form__input">
				<input placeholder="Email" type="email" name="Email" class="footer__contacts__form__input">
				<input placeholder="Phone number" type="tel" name="Phone" class="footer__contacts__form__input">
				<input placeholder="Your text" type="text" name="text" class="footer__contacts__form__input">
				<button type="submit" class="footer__contacts__form__button"type="submit">SEND</button>
			</form>
		</article>
		
	</footer> 
	
