<section class="partners">
	<div class="container">
		<h1 class="partners__title">Meet some of our partners</h1>
		<p class="partners__description">We build innovative software solutions to help our partners reach their most ambitious technology and business goals.</p>
	</div>
	<div class="partners__slider">
	<figure class="partners__slider__gallery">
		<img class="partners__slider__gallery__icon" src="images/icon/partners-icon2.png">
	</figure>
	<figure class="partners__slider__gallery">
		<img class="partners__slider__gallery__icon" src="images/icon/partners-icon3.png">
	</figure>
	<figure class="partners__slider__gallery">
		<img class="partners__slider__gallery__icon" src="images/icon/partners-icon4.png">
	</figure>
	<figure class="partners__slider__gallery">
		<img class="partners__slider__gallery__icon" src="images/icon/partners-icon2.png">
	</figure>
	<figure class="partners__slider__gallery">
		<img class="partners__slider__gallery__icon partners__slider__gallery__icon--filter" src="images/icon/partners-icon1.png">
	</figure>
</div>
</section>