<section class="positions" id="positions">
	<div class="positions__category">
		<div class="positions__category__header">
			<p class="positions__category__header--date">7:45 p.m. April 16, 2016</p>
			<p class="positions__category__header--news">NEWS</p>
		</div>
		<h2 class="positions__category__title">Baltic M&A and Private Equity Forum 2014, 6-7 November 
		in Vilnius</h2>
	</div>
	<div class="positions__category">
		<div class="positions__category__header">
			<p class="positions__category__header--date">7:45 p.m. April 16, 2016</p>
			<p class="positions__category__header--positions">POSITIONS</p>
		</div>
		<h2 class="positions__category__title">Middle/Senior Software Engineer - Front End</h2>
		<p class="positions__category__description">We are building a team for a new product/platform development and looking for you to work on the full time basis in our Kiev office.</p>
	</div>
	<div class="positions__category">
		<div class="positions__category__header">
			<p class="positions__category__header--date">7:45 p.m. April 16, 2016</p>
			<p class="positions__category__header--news">NEWS</p>
		</div>
		<h2 class="positions__category__title">Jobbatical, A Job Site For Work Sabbaticals And Career Breaks, Raises Seed Round</h2>
	</div>
</section>