<section class="services" id="services">
	<div class="container">
		<h1 class="services__title">
			Professional Software Engineering with 10+ Years of Experience
		</h1>
		<p class="services__description">
			At Bitteq our focus is squarely on providing high-quality business technology solutions to you, our customer. We do this – time after time – because of the way we approach our business
		</p>
		<article class="services__list">
			<figure class="services__list__item">
				<img class="services__list__item__icon" src="images/icon/serv-icon1.png">
				<figcaption class="services__list__item__description">
					SOFTWARE ENGENEERING
				</figcaption>
			</figure>
			<figure class="services__list__item">
				<img class="services__list__item__icon" src="images/icon/serv-icon2.png">
				<figcaption class="services__list__item__description">
					TESTING AND QA
				</figcaption>
			</figure>
			<figure class="services__list__item">
				<img class="services__list__item__icon" src="images/icon/serv-icon3.png">
				<figcaption class="services__list__item__description">
					MANAGEMENT MONITORING
				</figcaption>
			</figure>
			<figure class="services__list__item">
				<img class="services__list__item__icon" src="images/icon/serv-icon4.png">
				<figcaption class="services__list__item__description">
					RECRUITMENT
				</figcaption>
			</figure>
		</article>
		<button class="services__button--more">LEARN MORE</button>
	</div>
</section>