<aside class="sidebar">
		<div class="container__sidebar">
			<figure class="sidebar__logo">
				<img class="sidebar__logo__img" src="images/icon/header__logo.png">
			</figure>
			<button class="sidebar__menu__button"></button>
			<nav class="sidebar__menu">
				<a class="sidebar__menu__link" href="#about">About</a>
				<a class="sidebar__menu__link" href="#services">Services</a>
				<a class="sidebar__menu__link" href="#positions">Positions</a>
				<a class="sidebar__menu__link" href="#contacts">Contact us</a>
 			</nav>
			<div class="sidebar__icons">
				<a class="sidebar__icon__link" href="">
					<img class="sidebar__icons__img" src="images/icon/sidebar-icon1.png">
				</a>
				<a class="sidebar__icon__link" href="">
					<img class="sidebar__icons__img" src="images/icon/sidebar-icon2.png">
				</a>
				<a class="sidebar__icon__link" href="">
					<img class="sidebar__icons__img" src="images/icon/sidebar-icon3.png">
				</a>
			</div>
			<p class="sidebar__info">Bitteq © 2016 All rights reserved.</p>
		</div>
	</aside>